*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

a{
    text-decoration: none;
    border: 2px solid #00aeff;
    padding: 15px 30px;
    font-size: 20px;
    color: #00aeff;
    letter-spacing: 4px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}

.wave{
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(100% + 22px);
    left: 0;
    background-color: #fcff4a;
    transition: 1s;
    z-index: -1;
}

.wave::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 22px;
    top: -22px;
    left: 0;
    background-image: url("pic_bulbon.gif");
    animation: wavy 1s linear infinite;
}

@keyframes wavy {
    0%{
        background-position-x: 0;
    }
    100%{
        background-position-x: 120%;
    }
}

a:hover .wave{
    top: 0;
}
a:hover{
    color: rgb(218, 3, 3);
}

/* background-color: #fcff4a;
border: 2px solid #00aeff; */
